/*
font-family: 'Nunito', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Doodle Shadow', system-ui;
*/

body {
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	color: #525252;
	height: 100%;
	width: 100%;
}
.title, .green,.footer-columns li:first-child a {
	color: #014801;
	font-weight: bold;
}
.logo{
	color: #014801;
}
span{
	font-weight:900;
}

.title {
	font-family: 'Philosopher', sans-serif;
	font-size: 5vw
}

strong {
	color: white;
}

li, li a {
	text-decoration: none;
	list-style: none;
}

a, p, q, .copyright {
	font-size: 1.5vw;
}

nav {
	padding: 1vw;
	display: flex;
	margin: auto;
	width: 80%;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.nav-links {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

	.nav-links li a {
		font-weight: bold;
		color: #014801;
	}

		.nav-links li a:hover {
			color: #525252;
		}

		.nav-links li a:active {
			text-transform: uppercase;
			transform: scale(2);
		}

section {
	margin: 1vw auto;
	width: 90%;
	padding: 2.5vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.box {
	margin: 1vw;
	padding: 0.5vw;
	height: auto;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.botton-container {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto;
}

button {
	margin: 1vw;
	padding: 1.5vw;
	border-radius: 3vw;
	text-decoration: none;
	cursor: pointer;
}

.btn-green, .btn-white:hover {
	background-color: #014801;
	color: white;
	border: 1.5px solid #014801;
}

	.btn-white, .btn-green:hover {
		background-color: white;
		color: #014801;
		border: 1.5px solid #014801;
	}

.title-container {
	display: block;
	margin: auto;
	width: 60%;
	text-align: center;
}

.box-container {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	padding: .2vw;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	width: 95%;
}

.box-inner {
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	margin: 2vw 1vw;
	text-align: center;
	height: 100vh;
	width: 300px;
	padding: 1vw;
	border-radius: 2vw;
	border: 0.5vw solid #014801;
}

.box-inner p {
	color: whitesmoke;
}
.customers img{
	border-radius: 50%;
	width: 50%;
}
.box-green {
	background-color: #014801;
}

.box-green q {
	color: #525252;
}

.box-clear {
	border-radius: 2vw 6vw;
}
.service-icons {
	padding: 2vw;
	color: white;
}
.service-icons i{
	color: #fff;
}

.footer-columns {
	height: auto;
	width: auto;
	margin: 1vw;
}

	.footer-columns li a {
		color: #525252;
	}

footer {
	display: flex;
	flex-wrap: wrap;
	margin: 2vw;
	padding: 1vw;
	width:85%;
	justify-content: space-around;
}

.social-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}

	.social-icons a {
		background-color: white;
		color: #014801;
		width: 5vw;
	}

.copyright {
	text-align: center;
	width: 70%;
}

@media screen and (max-width:780px) {
	a, p, q, .copyright {
		font-size:1.8vw;
	}
	button {
		padding: 1.8vw;
		border-radius: 4vw;

	}
}

@media screen and (max-width:480px) {
	a, p, q, .copyright {
		font-size: 2.3vw;
	}
	.nav-links a{
		font-size: 2vw;
	}
	button {
		padding: 3vw;
		border-radius: 6vw;
	}
}